# Packages needed to generate protobuf Python "bindings" 
# from protobuf schema file. Not needed for runtime.

# I used protobuf and the protobuf-protoc-bin packages
protobuf
protobuf-protoc-bin

# *Instead* of protobuf-protoc-bin you can use this:
#grpcio-tools

# run-time requirements
-r requirements.txt